/* inglés */

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 1280px;
    height: 3480px;
    background: #FFFFFF;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    width: 1280px;
    height: 64px;
    gap: 20px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);

}

article.init {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7.33px;
    width: 213.86px;
    height: 36px;
}

a#link {
    font-style: normal;
    font-weight: 400;
    font-size: 23.4628px;
    line-height: 35px;
    color: #FFFFFF;
    opacity: 0.86;
}


.cup {
    width: 20.53px;
    height: 30px;
}

article.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    top: 16px;
    width: 550px;
    height: 32px;
}

a:link {
    text-decoration: none;
}

.store,
.Sus,
.business,
.Us,
.cont {
    width: 61px;
    height: 32px;
    padding: 8px;
    gap: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

a.Sus {
    width: 89px;
}

a.business {
    width: 111px;
}

a.Us {
    width: 112px;
}

a.cont {
    width: 75px;
}

div.service {
    align-items: center;
    padding: 0px;
    gap: 24px;
    top: 12px;
    width: 288px;
    height: 40px;
}

article.link-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-top: 2px;
    gap: 8px;
    width: 134px;
    height: 10px;
}

picture {
    width: 24px;
    height: 26px;
}

#phone {
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
    width: 20px;
    height: 20px;
}

.number {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    width: 102px;
    height: 16px;
}

.btn-star {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    gap: 2px;
    width: 105px;
    height: 40px;
    background: #515051;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
}

article.col-car {
    width: 24px;
    height: 30px;
    top: 20px;
    left: 1200px;
    border: 2px solid none;
    padding-right: 40px;
}

#carBuy {
    width: 20px;
    height: 20px;
    left: 8px;
    top: 2px;
    bottom: 8.33px;
    margin-right: 0%;
}

/* CSS DE CARRITO */
#carBuy:hover {
    margin-bottom: 16px;
    transition-duration: .5s;
}

.col-car div {
    position: sticky;
}

.count-product {
    display: none;
    position: absolute;
    top: -10px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: rgb(17, 4, 4);
    font-weight: 700;
    line-height: 18px;
    font-family: outfit;
    text-size-adjust: 5px;
}

.cart-products {
    position: absolute !important;
    top: 76px;
    right: 8px;
    background: rgb(245, 243, 241);
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    z-index: 1;
    font-family: outfit;
    width: auto;
    gap: 2px;
    overflow: scroll;
    height: 180px;
}

.cart-products .header-title {
    font-style: "font-family: outfit";
    font-size: 20px;
}

.cart-products .item {
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgb(26, 97, 8);
}

.cart-products .item img {
    width: 50px;
}

.cart-products .item h3 {
    margin: 0 14px;
    width: 120px;
    font-size: 10px;
    font-weight: 400;
    font-family: outfit;
}

.item .cart-price {
    display: flex;
    margin: 0 5px;
    width: 35px;
    font-size: 10px;
    font-weight: 400;
    font-family: outfit;
    justify-content: center;
}

.cart-products .item .quanty {
    display: flex;
    margin: 0 5px;
    width: 35px;
    font-size: 10px;
    font-weight: 400;
    font-family: outfit;
    justify-content: center;
}

.cart-products .item .subT {
    display: flex;
    margin: 0 5px;
    width: 90px;
    font-size: 10px;
    font-weight: 400;
    font-family: outfit;
    justify-content: center;
}

.delete-product {
    background-color: rgba(240, 59, 59, 0.959);
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: outfit;
    cursor: pointer;
}

p.close-btn {
    position: absolute;
    top: 2px;
    right: 1px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 1px 6px;
    border-radius: 50%;
    text-decoration: solid;
    font-weight: 900;
    font-size: 12px;
}

.rest {
    background: rgba(42, 91, 69, 0.7);
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: outfit;
    cursor: pointer;
    font-size: 12px;
}

.summation {
    background: rgba(42, 91, 69, 0.7);
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: outfit;
    cursor: pointer;
    font-size: 12px;
}

/* .button-cart {
    background: #1F1815;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
} */

.price-total {
    font-size: 18px;
    font-weight: 900;
}

.section1 {
    background: rgba(227, 222, 215, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 40px;
    gap: 8px;
    width: 1267px;
    height: 486px;
    flex: none;
    flex-grow: 0;
}

div.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 24px;
    width: 1200px;
    height: 390px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border-top: 48px;
    border-left: 40px;
}

article.txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 400px;
    height: 232px;
    flex: none;
    flex-grow: 1;
}

.t3 {
    font-style: normal;
    font-weight: 600px;
    font-size: 18px;
    color: #2A5B45;
    line-height: 24px;
    width: 588px;
    height: 24px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.t1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    color: #000000;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    width: 588px;
    height: 88px;

}

article.button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 321px;
    height: 40px;
    flex: none;
    flex-grow: 0;
    border-top: 192px;
}

.discover {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 168px;
    height: 40px;
    background: #1F1815;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}

.pay {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 137px;
    height: 40px;
    background: #2A5B45;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

article.pic {
    width: 588px;
    height: 390px;
    border-radius: 20px;
    flex-grow: 1;
    flex: none;
}

#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 147px;
    gap: 24px;
    width: 1267px;
    height: 380px;
    background-image: url(../image/cafe\ back.jpg);
    background-size: cover;
    background-position: center;
    align-self: stretch;
    flex-grow: 0;
    flex: none;
}

.condition {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    width: 350px;
    height: 28px;
}

#cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 996px;
    height: 232px;
    flex: none;
}

article.box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 316px;
    height: 232px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
    flex: none;
    align-self: stretch;
    flex-grow: 1;
}


#section2 img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: 74px;
    height: 74px;
    flex: none;
    flex-grow: 0;
}

.order {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #2B2A2B;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

#section2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #111827;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

#section3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
    width: 1267px;
    height: 610px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-self: stretch;
}

#section3 h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    width: 120px;
    height: 28px;
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    flex-grow: 0;
}

#bags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: 391.39px;
    flex: none;
    flex-grow: 0;
}

#bags article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

#bags img {
    width: 219.39px;
    height: 219.39px;
    flex: none;
    flex-grow: 0;
}

.country {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    width: 145px;
    height: 10px;
    flex: none;
    flex-grow: 0;
}

#bags p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 42px;
    height: 4px;
    text-align: center;
    color: #000000;
    flex: none;
    flex-grow: 0;

}


.Add {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 60px;
    height: 32px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}



.arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 101px;
    height: 24px;
    flex: none;
    flex-grow: 0;
    text-decoration-line: underline;
}

.See {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    flex: none;
    flex-grow: 0;
}

.arrow img {
    width: 24px;
    left: 12.5%;
    right: 12.5%;
    top: 33.33%;
    bottom: 33.33%;
    color: rgba(17, 24, 39, 1);
}

#bags article:hover {
    border: 2px solid #E3DED7;
    border-radius: 8px;
    background-color: #F7F5F3;
}

#section4 {
    background-color: #2A5B45;
    padding: 48px 20px 52px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1267px;
}

#section4 h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

#section4 button {
    border: none;
    background-color: transparent;
    padding: 5px;
}

#section4 div {
    border-radius: 10px;
    background: #F7F5F3;
    padding: 10px;
    display: flex;
    align-items: center;
}

.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 0px;
    width: 650px;
    height: auto;
}

.drop-down img {
    width: 18px;
    height: 12px;
    line-height: 10px;
    -webkit-transition: all 0.3s ease-out;
    padding: 2px;
}

.drop-down img:hover {
    transform: rotate(-180deg);
}

.drop-down article {
    flex-direction: row;
    padding: 10px;
    gap: 16px;
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-down h3 {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2B2A2B;
    padding: 12px 16px;
}

.drop-down p {
    padding: 12px 14px;
    background: #F7F5F3;
    border-top: solid 1px #E3DED7;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    width: 600px;
    display: none;
    margin: 0px;
    align-self: stretch;
    flex: none;
    flex-grow: 0;
}

.doubts {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 180px;
    height: 24px;
    flex: none;
    flex-grow: 0;
}

.doubts a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}

.doubts img {
    width: 23px;
    height: 16px;

}

#section5 {
    width: 1267px;
    height: 480px;
    background: #F7F5F3;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

#section5 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 1246px;
    height: 390px;
    padding-left: 50px;
    padding-top: 44px;
    margin: 0px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 523px;
    height: 116px;
    flex: none;
    flex-grow: 1;
}

.text h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    width: 340px;
    height: 28px;
    color: #2A5B45;
    flex: none;
    flex-grow: 0;
}

.text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #111827;
    flex: none;
    flex-grow: 0;
    width: 530px;
    height: 32px;
}

.get {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 118px;
    height: 24px;
    flex: none;
    flex-grow: 0;
}

.get a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
    flex: none;
    flex-grow: 0;
}

.get img {
    width: 24px;
    height: 12px;
    flex: none;
    flex-grow: 0;
}

.visit img {
    width: 560px;
    height: 390px;
    border-radius: 20px;
    flex: none;
}

#section6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1267px;
    height: 552px;
    background: #E3DED7;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: 552px;
    background: #E3DED7;
    opacity: 0.9;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 588px;
    height: 320px;
    flex: none;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    width: 588px;
    height: 76px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.header h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
    width: 588px;
    height: 24px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}


.header p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
    width: 588px;
    height: 30px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.enter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 588px;
    height: 212px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.enter p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 588px;
    height: 37px;
    color: #6B7280;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

article.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 5px;
    font-size: 20px;
    padding: 0px;
    width: 388px;
    height: 30px;
    flex: none;
    flex-grow: 0;
}

p.street {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    flex: none;
    flex-grow: 0;
    width: 141px;
    height: 5px;
    padding-top: 0px;
}

.street {
    height: 30px;
}

p.postal {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 5px;
    color: #6B7280;
    flex: none;
    flex-grow: 0;
    width: 133px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 588px;
    height: 60px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

article.detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 588px;
    height: 24px;
}

.detail img {
    width: 17px;
    height: 17px;
    flex: none;
    flex-grow: 0;
}

p.cel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    width: 552px;
    height: 24px;
    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

p.tray {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
    flex: none;
    flex-grow: 1;
    width: 552px;
    height: 16px;
}

p.job {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #6B7280;
    width: 588px;
    height: 24px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.job a {
    color: #000000;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 32px 32px 48px;
    width: 588px;
    height: 552px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 470px;
    height: 488px;
    flex: none;
    flex-grow: 0;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 470px;
    height: 54px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.name label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 100px;
    height: 16px;
    color: #374151;
}

.name input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 13px;
    width: 470px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 470px;
    height: 54px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.email label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 30px;
    height: 16px;
    color: #374151;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.email input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 13px;
    width: 470px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

}

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 470px;
    height: 58px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.phone label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #374151;
    width: 46px;
    height: 16px;
    flex: none;
    flex-grow: 0;
}

.phonebox {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 470px;
    height: 38px;
    gap: 5px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    flex: none;
    flex-grow: 0;
}

#phoneCode {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 13px;
    gap: 4px;
    width: 68px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    flex: none;
    flex-grow: 0;
    font-family: 'Outfit';
    color: #374151;
}


.phonebox input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 13px 9px 0px;
    width: 100px;
    height: 35px;
    flex: none;
    flex-grow: 1;
    border: none;
    border-radius: 9px;
}

.area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 470px;
    height: 142px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.area p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 0px;
    height: 16px;
    color: #374151;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.area textarea {
    box-sizing: border-box;
    width: 470px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #6B7280;
}

.checkBoxForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-right: 30px;
    gap: 12px;
    width: 470px;
    height: 20px;

}

.checkBoxForm input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 16px;
    height: 20px;
    flex: none;
    flex-grow: 0;
    border-radius: 4px;
}

p.polytic {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 381px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.polytic a {
    color: #374151;
    text-align: center;
}

#enviarForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 90px;
    height: 40px;
    background: #2A5B45;
    border-radius: 4px;
    border: none;
    flex: none;
    flex-grow: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

footer {
    width: 1267px;
    height: 310px;
    background: #1F1815;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.fwrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 29px;
    gap: 16px;
    width: 1200px;
    height: 204px;
    left: 40px;
    top: 28.61px;
}

.bowl {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    padding-bottom: 20px;
    gap: 30px;
    width: 288px;
    height: 46px;
    flex: none;
    flex-grow: 0;
}

.bowl a {
    font-style: normal;
    font-weight: 400;
    font-size: 23.4628px;
    line-height: 90px;
    color: #FFFFFF;
    width: 160px;
    height: 36px;
    flex: none;
    flex-grow: 0;
}

.bowl img {
    line-height: 20px;
    left: 0%;
    right: 1.16%;
    top: -0.09%;
    bottom: 0%;
    width: 20.53px;
    height: 24.93px;
    flex: none;
    flex-grow: 0;
}

.help {
    width: 1119px;
    height: 152px;
    flex: none;
    flex-grow: 0;
}

.you {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 255.33px;
    height: 152px;
    left: 0px;
    top: 0px;
}

.you h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 135px;
    height: 22px;
    flex: none;
    flex-grow: 0;
}

.buttonA {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 175px;
    height: 45px;
    background: #515051;
    border-radius: 4px;
    flex: none;
    flex-grow: 0;
    border: none;
}

.buttonA img {
    width: 20px;
    height: 20px;
    flex: none;
    flex-grow: 0;
}

.buttonA p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}

.buttonB {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 222px;
    height: 45px;
    background: #515051;
    border-radius: 4px;
    flex: none;
    flex-grow: 0;
    border: none;
}

.buttonB img {
    width: 20px;
    height: 18px;
    flex: none;
    align-self: center;
    flex-grow: 0;
}

.buttonB p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}

.alls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;
    width: 10px;
    height: 144px;
    padding-left: 700px;
    padding-top: 3.61px;
}

.alls a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 96px;
    height: 16px;
    flex: none;
    flex-grow: 0;
}

.cookies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 255.33px;
    height: 80px;
    left: 800px;
    top: 5px;

}

.cookies a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    width: 146px;
    height: 16px;
    flex: none;
    flex-grow: 0;
}

.reserved {
    display: flex;
    width: 1267px;
    height: 40px;
    background: #2B2A2B;
    align-items: center;
    justify-content: center;
}

.reserved a {
    width: 359px;
    height: 16px;
    left: 540.5px;
    top: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}